*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.topnav {
    display: block;
    height: 70px;
    border-bottom: solid;
    border-width: 1px;
    border-color: lightgray;
}

.topnav button {
    border-radius: 9999px;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: white;
    border: none;
    justify-content: center;
    align-items: center;
}

.topnav button:hover {
    background-color: rgba(225, 225, 225, 0.75);
    cursor: pointer;
}

.topnav button img {
    width: 20px;
    height: 20px;
}

.sidebar {
    width: 300px;
    min-height: calc(100vh - 80px);
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
    border: solid;
    border-width: 1px;
    border-color: rgba(225, 225, 225, 0.75);
    border-radius: 20px;
    box-shadow: 2px 2px 1px rgba(225, 225, 225, 0.75);
}

.sidebar button {
    margin-top: 5px;
    border-radius: 9999px;
    width: 290px;
    height: 40px;
    background-color: white;
    border: none;
    text-align: left;
}

.sidebar button:hover {
    background-color: rgba(225, 225, 225, 0.75);
    cursor: pointer;
}

.sidebar button img {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-left: 20px;
}

.sidebar button p {
    display: inline-block;
    vertical-align: middle;
}